@font-face {
    font-family: "coves";
    src: url(../font/Coves-Light.otf);
}

* {
    margin: 0;
    padding: 0;
    font-family: "coves", sans-serif;
}

html,
body {
    height: 100%;
    z-index: 0;
}

.my-header,
.my-footer {
    background-color: rgba(0, 0, 0, 0.7);
    height: 66px;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 2;
}

/* Header */

.my-header {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    top: 0;
}

.my-logo {
    height: 100%;
    width: auto;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 3px;
}

.float-nav {
    float: right;
}

.nav-container {
    height: 90%;
    width: auto;
}

/* Footer */

.my-footer {
    bottom: 0;
}

.socials {
    color: white;
    margin-right: 70px;
    margin-top: 20px;
    float: right;
}

.socials a {
    text-decoration: none;
    font-style: normal;
    color: white;
    padding: 20px;
    padding-top: 23px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.socials a:nth-of-type(1) {
    transition: ease-in-out 0.5s;
    background-color: black;
    margin-right: 2px;
}

.socials a:nth-of-type(1):hover {
    transition: ease-in-out 0.5s;
    background-color: rgb(24, 24, 24);
}

.socials a:nth-of-type(2) {
    transition: ease-in-out 0.5s;
    background-color: cyan;
    color: black;
    margin-right: 2px;
}

.socials a:nth-of-type(2):hover {
    transition: ease-in-out 0.5s;
    background-color: rgb(86, 255, 255);
}

.socials a:nth-of-type(3) {
    transition: ease-in-out 0.5s;
    background-color: red;
}

.socials a:nth-of-type(3):hover {
    transition: ease-in-out 0.5s;
    background-color: rgb(255, 67, 67);
}

.creator {
    display: inline-block;
    color: white;
    margin-top: 20px;
    margin-left: 70px;
}

.mv {
    font-style: normal;
    text-decoration: none;
    color: wheat;
}

/* Background */

.background-img {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-image: url(../images/noscript.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-img img {
    transition: all .5s ease-in-out;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Main */

main {
    width: auto;
    height: 100%;
    transition: all .5s ease-in-out;
    z-index: 1;
    margin-left: -.0125px;
}

/* Main: error message */
.msg-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90.5%;
    height: 520px;
    z-index: 1;
    background: rgba(125, 125, 125, 0.25);
    box-shadow: 0 8px 32px 0 rgba(24, 30, 107, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.msg {
    padding: 30px;
}

.msg h1 {
    font-size: 65px;
}

.msg h3 {
    font-size: xx-large;
    background-color: rgb(248, 193, 92);
    border-radius: 60px;
    color: black;
    border: 1px solid rgb(247, 189, 82);
    padding: 5px;
}

.msg p {
    margin-top: 28px;
    font-size: larger;
}

.msg a {
    transition: ease-in-out .1s;
    color: white;
    cursor: pointer;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.msg input {
    transition: ease-in-out .2s;
    background-color: transparent;
    border: 1px solid aquamarine;
    font-size: medium;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    color: aquamarine;
}

.msg a:hover {
    color: aquamarine;
}

.msg input:hover {
    color: black;
    font-weight: bold;
    background-color: aquamarine;
    padding: 13px;
}

/* Main: Floating alert */

.msg h1,
.msg h3 {
    animation-name: floating;
    animation-duration: 5.4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-top: 5px;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
        rotate: -.4deg;
    }

    50% {
        transform: translate(0, 7px);
        rotate: .4deg;
    }

    100% {
        transform: translate(0, -0px);
        rotate: -.4deg;
    }
}

/* Responsiveness */

/* Reponsiveness: width */

@media (max-width: 520px) {
    .my-logo {
        margin-left: 0;
        margin-right: 10px;
    }

    .creator {
        margin-left: 20px;
        font-size: 12.5px;
    }

    .socials {
        margin-right: 20px;
    }

    .socials a {
        text-decoration: none;
        font-style: normal;
        color: white;
        padding: 10px;
        padding-top: 23px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    }
}

/* Responsiveness: height */

@media (max-height: 625px) {
    .msg-container {
        margin-top: 75px;
    }

    .background-img {
        padding-bottom: 310px;
    }
}


@media (max-height: 503px) {
    .msg-container {
        margin-top: 130px;
    }

    .background-img {
        padding-bottom: 510px;
    }
}