@font-face {
    font-family: "coves";
    src: url(../font/Coves-Light.otf);
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    font-family: "coves", sans-serif;
}

html,
body {
    height: 100%;
    z-index: 0;
}

.my-header, .my-footer {
    background-color: rgba(0, 0, 0, 0.7);
    height: 66px;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 2;
}

/* Header */

.my-header {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    top: 0;
}

.my-logo {
    height: 100%;
    width: auto;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 3px;
}

.nav-container {
    height: 90%;
    width: auto;
}

.my-audio {
    margin-bottom: 9px;
    cursor: pointer;
}

.float-nav {
    float: right;
}

/* Header: Gesnhin Reference */
.genshin-ref {
    transition: ease-out 0.3s;
    color: black;
    font-weight: bolder;
    font-size: 1rem;
    background-color: #ffd21d;
    padding: 15px;
    margin-top: 7px;
    margin-right: 70px;
    cursor: pointer;
}

.genshin-ref:hover {
    transition: ease-in 0.3s;
    background-color: #feb414;
    box-shadow: 0 1px 1px 0 rgba(255, 203, 82, 0.1);
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    border-top: 2px solid wheat;
    border-left: 2px solid wheat;
    color: rgb(63, 9, 9);
}

/** Header: Switch
   -------------------------------------*/
.switch-container {
    position: absolute;
    top: 20.5px;
    left: 356px;
    margin: auto;
    display: inline-block;
    color: white;
}

.switch input {
    position: absolute;
    opacity: 0;
}

.switch {
    display: inline-block;
    font-size: 20px;
    /* 1 */
    height: 1.3em;
    width: 2.3em;
    background: #87CEEB;
    border-radius: 1em;
}

.switch div {
    height: 1.3em;
    width: 1.3em;
    border-radius: 1em;
    background: #FFF;
    box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.3);
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    transition: all 300ms;
}

.switch input:checked+div {
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

.switch-btn i {
    padding: 3px;
    color: black;
    cursor: pointer;
}

/* Footer */

.my-footer {
    bottom: 0;
}

.socials {
    color: white;
    margin-right: 70px;
    margin-top: 20px;
    float: right;
}

.socials a {
    text-decoration: none;
    font-style: normal;
    color: white;
    padding: 20px;
    padding-top: 23px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.socials a:nth-of-type(1) {
    transition: ease-in-out 0.5s;
    background-color: black;
    margin-right: 2px;
}

.socials a:nth-of-type(1):hover {
    transition: ease-in-out 0.5s;
    background-color: rgb(24, 24, 24);
}

.socials a:nth-of-type(2) {
    transition: ease-in-out 0.5s;
    background-color: cyan;
    color: black;
    margin-right: 2px;
}

.socials a:nth-of-type(2):hover {
    transition: ease-in-out 0.5s;
    background-color: rgb(86, 255, 255);
}

.socials a:nth-of-type(3) {
    transition: ease-in-out 0.5s;
    background-color: red;
}

.socials a:nth-of-type(3):hover {
    transition: ease-in-out 0.5s;
    background-color: rgb(255, 67, 67);
}

.creator {
    display: inline-block;
    color: white;
    margin-top: 20px;
    margin-left: 70px;
}

.mv {
    font-style: normal;
    text-decoration: none;
    color: wheat;
}

/* Main */

#main-content-mondstadt,
#main-content-liyue,
#main-content-inazuma {
    transition: .5s ease-in-out;
    z-index: 1;
    margin-left: -.0125px;
}

.background-img {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-img img {
    transition: .5s ease-in-out;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.background-img img:nth-of-type(n) {
    opacity: 0;
}

#main-content-mondstadt,
#main-content-liyue,
#main-content-inazuma {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: auto;
    height: 100%;
}

/* Main: Cards */
.main-card, .card-one, .card-two{
    position: absolute;
    z-index: 1;
    color: black;
}

.main-card {
    top: 50%;
    left: 50%;
    transform: translate(calc(-50% - .4px), calc(-50% - .4px));
    width: 300px;
    height: 530px;
}

.card-one,
.card-two {
    width: 240px;
    height: 450px;
    top: 50%;
    transform: translate(-50%, -50%);
}

.card-one {
    left: 25%;
}

.card-two {
    left: 75%;
}

.glassmorphism {
    padding: 10px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(24, 30, 107, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    height: 95.4%;
}

/* Main: Arrows */
.arrow-one,
.arrow-two {
    transition: ease-in-out .5s;
    position: absolute;
    display: inline-block;
    z-index: 2;
    color: rgba(255, 255, 255, 0.846);
    font-size: 43px;
    cursor: pointer;
    top: 50%;
    transform: translate(-50%, -50%);
}

.arrow-one a, .arrow-two a{
    transition: .5s ease-in-out;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.846);
}

.arrow-one {
    left: 12.5%;
}

.arrow-two {
    left: 87.5%;
}

.arrow-one a:hover,
.arrow-two a:hover {
    color: white;
}

/* Main: Main card */
.card-top {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-card .card-top img {
    width: 60%;
}

.dish-name {
    text-align: center;
}

.main-card .dish-name {
    font-size: x-large;
}

.dish-type {
    float: left;
}

.main-card .dish-type {
    margin-right: 10px;
}

.main-card .type-name,
.main-card .dish-type p,
.main-card .dish-description {
    margin-top: 5px;
}

.type-img {
    float: left;
    width: 25px;
}

.main-card .type-img {
    margin-right: 10px;
}

.main-card .type-img:not(.cold-resistance) {
    margin-top: 3px;
}

.card-one .type-img .cold-resistance,
.card-two .type-img .cold-resistance {
    margin-bottom: 5px;
}

.main-card .hr-break {
    margin-bottom: 15px;
    margin-top: 15px;
    height: 1px;
    background-color: rgba(47, 47, 47, 0.369);
    border-radius: 30px;
}

.main-card .dish-ingredients {
    width: 95%;
    margin-top: 10px;
}

.ingredient-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-card .recipe-btn {
    margin-top: 17px;
}

.recipe-btn {
    background-color: black;
    border: 1px solid rgb(102, 102, 102);
    color: white;
    cursor: pointer;
    padding: 4px;
    border-radius: 20px;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-card button,
.card-one button,
.card-two button {
    width: 70%;
}

/* Main: Side cards */


.card-one .card-top img,
.card-two .card-top img {
    width: 52%;
}

.dish-name {
    text-align: center;
}

.card-one .dish-name,
.card-two .dish-name {
    font-size: large;
}

.card-one .dish-type,
.card-two .dish-type {
    margin-right: 8px;
}

.card-one .type-name,
.card-one .dish-type p,
.card-one .dish-description,
.card-two .type-name,
.card-two .dish-type p,
.card-two .dish-description {
    margin-top: 3px;
}

.card-one .type-img,
.card-two .type-img {
    margin-right: 8px;
}

.card-one .hr-break,
.card-two .hr-break {
    margin-bottom: 12px;
    margin-top: 12px;
    height: 0.5px;
    background-color: rgba(47, 47, 47, 0.369);
    border-radius: 30px;
}

.card-one .dish-ingredients,
.card-two .dish-ingredients {
    width: 95%;
    margin-top: 8px;
}

.card-one .recipe-btn,
.card-two .recipe-btn {
    margin-top: 15px;
    margin-left: 3px;
}

.card-one p,
.card-two p {
    font-size: 96%;
}

/* Website Responsiveness (width) */

@media (max-width: 1169px) {

    .card-one,
    .card-two {
        display: none;
    }
}

@media (max-width: 715px) {
    .genshin-ref {
        display: none;
    }
}

@media (max-width: 520px) {
    .region-name {
        display: none;
    }

    .my-logo {
        margin-left: 0;
        margin-right: 10px;
    }

    .switch-container {
        left: 254px;
    }

    .creator {
        margin-left: 20px;
        font-size: 12.5px;
    }

    .socials {
        margin-right: 20px;
    }

    .socials a {
        text-decoration: none;
        font-style: normal;
        color: white;
        padding: 10px;
        padding-top: 23px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    }

    .arrow-one,
    .arrow-two {
        top: 30%;
    }
}

/* Website Responsiveness (height) */

@media (max-height: 660px) {
    .background-img {
        padding-bottom: 210px;
    }

    .main-card, .card-one, .card-two{
        top: 58%;
    }

    .arrow-one, .arrow-two{
        top: 33%;
    }
}


@media (max-height: 570px) {
    .background-img {
        padding-bottom: 450px;
    }

    .main-card, .card-one, .card-two{
        top: 70%;
    }

    .arrow-one, .arrow-two{
        top: 45%;
    }
}

@media (max-height: 473px) {
    .background-img {
        padding-bottom: 650px;
    }

    .main-card, .card-one, .card-two{
        top: 90%;
    }

    .arrow-one, .arrow-two{
        top: 60%;
    }
}